<!DOCTYPE html>
<html class="bg-black h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">

        <title>Groupify</title>

        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body class="flex bg-black text-white h-full">
        <div id="app" class="flex flex-col md:flex-row h-full w-full">
            <nav id="navbar" class="bg-gray-800 md:py-4 md:px-6 md:min-h-screen min-h-0 w-full md:w-56 lg:w-64 xl:w-72 absolute md:relative bottom-0 left-0">
                <span class="text-xl font-bold mb-4 hidden md:block">Groupify</span>

                <div class="flex flex-row md:flex-col md:space-y-1 md:-mx-2 relative">
                    <button class="flex flex-col md:flex-row items-center px-4 py-2 rounded-xl md:shadow md:bg-gray-700 w-full"><span class="mdi mdi-home text-xl md:mr-2 -mb-2 md:-mb-0"></span>Home</button>
                    <button class="flex flex-col md:flex-row items-center px-4 py-2 rounded-xl transition-colors md:hover:shadow md:hover:bg-gray-700 text-gray-400 hover:text-white w-full"><span class="mdi mdi-magnify text-xl md:mr-2 -mb-2 md:-mb-0"></span>Search</button>
                    <button class="flex flex-col md:flex-row items-center px-4 py-2 rounded-xl transition-colors md:hover:shadow md:hover:bg-gray-700 text-gray-400 hover:text-white w-full"><span class="mdi mdi-music-box-multiple text-xl md:mr-2 -mb-2 md:-mb-0"></span>Library</button>
                    
                    <!-- FAB group button -->
                    <button class="flex md:hidden rounded-full bg-green-900 h-12 w-12 shadow flex-shrink-0 absolute bottom-20 right-6"><span class="mdi mdi-account-group m-auto text-2xl"></span></button>
                </div>

                <div id="shortcuts" class="hidden md:flex flex-col min-h-0 h-full mt-6">haha</div>
                    
                <div class="-mx-4 my-2">
                    <div id="groupsidebar" class="w-full rounded-xl px-4 py-2 bg-gray-900">hoho</div>
                </div>
            </nav>

            hehe
        </div>

        <script src="/js/alpine-3.2.4.js" defer></script>
    </body>
</html>